/*
   This file provides the styles for the Team 5 Webapp.  Styles apply to both
   the index.html and no-results.html files.
*/

body {
  width: 90%;
  margin: auto;
  font-size: larger;
  font-family: 'Roboto', sans-serif;
}

/* Styles everything in the header for site */
header {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

#header-title, #find-answers, #welcome-msg, #about, #device-q {
  text-align: center;
}

.nav-links{
  padding: 10px;
}

.nav-links:hover {
  background-color: rgb(199, 193, 193);
}

/* The following style the menu buttons */
.container {
  display: flex;
  justify-content: space-evenly;
}

.menu-icon {
  background-color: rgb(168, 168, 168);
  width: 300px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#device-list {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

.device {
  width: 300px;
  height: 65px;
  background-color: rgb(168, 168, 168);
  text-align: center;
  line-height: 65px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: grey;
}

#askContainer {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#askContainerTitle {
  text-align: center;
}

#emailContainer, #deviceContainer, #questionContainer {
  padding: 4px;
  display: flex;
}

input, textarea, select {
  margin-left: 8px;
}

#faqTemplate {
    background-color: black;
    width: 100%;
}

#loader {
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  z-index: 1; */
  width: 120px;
  height: 120px;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
