/*
   This file provides the styles for the Team 5 Webapp.  Styles apply to both
   the index.html and no-results.html files.
*/

body {
  width: 90%;
  margin: auto;
  
  background-color: #e0e9ff;
  text-align: center;
  
  font-family: 'Vollkorn', Georgia, Times, serif;
}

/* Styles everything in the nav bar for site */
header {
  margin: auto;
}

nav {
    margin: 0 0 0 0;
    width: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: space-evenly;
    background-color: #002bab;
    color: white;
}

/* #header-title, #find-answers, #welcome-msg, #about, #device-q {
  text-align: center;
} */

.nav-links{
  padding: 25px;
  color: white;
}

.nav-links:hover {
  background-color: #93BFFF;
  color: white;
}

/* Used for askQuestions.html styling*/
#askContainer {
  font-size: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 55%;
}

#emailContainer, #deviceContainer, #questionContainer{
  padding: 4px;
  display: flex;
}

#email {
  border-radius: 5px;
  padding: 2px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(93, 93, 206);
  font-size: 20px;
}

.prompt-msg {
    font-size: 20px;
}

input, textarea, select {
  margin-left: 10px;
}

/* for faq.html elements */
#faqTemplate {
    background-color: black;
    width: 100%;
}

/* For the loading wheel when awaiting requests to the server */
#loader {
  width: 120px;
  height: 120px;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* for search.html elements */
#searchTemplate {
    display: block;
}

/* Styles the buttons for index homepage, faq, and search pages*/
a {
  text-decoration: none;
}

a:hover, a:active {
    background-color: #e3eaff;
    font-weight: bold;
    color: #002bab;
}

* {
    box-sizing: border-box;
}

.header {
   border: 1px;
   padding-bottom: 0px;
   padding-top: 15px;
   color: #002bab;
}

.additionalInfo {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    padding-top: 5px;
    border: 1px;
}
.buttonOptions {
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px;
}
 .optionLinks {
    background-color: #99b5ff; /*light blue button background*/
    color: #002bab; /*deep blue text*/
    font-size: 105%;
    padding: 25px 24px; /*padding around text*/
    text-decoration: none;
    display: inline-block;
    border: 2px solid #002bab; /*deep blue outline*/
    cursor: pointer; /*pointer mouse icon*/
}

/*styles the page fonts for headers and text*/
h1 {
 font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
 font-size: 50px;
 line-height: 65px;
}

h2,h3 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #002bab;
}

p {
 font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
}

/* The following style the questions that appear from server requests */
hr {
    width: 680px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
}

/* Styles the search bar and submit button in the search page */
#search-bar, #search-btn, #submit-question, textarea, select {
  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(93, 93, 206);
}

#search-bar, #submit-question {
    width: 550px;
}

#search-btn, #submit-question {
    background-color: rgb(124, 231, 110);
}

#submit-question, select {
    width: 150px;
    margin-top: 0;
    margin-bottom: 0;
}


#search-btn:hover, #submit-question:hover {
    cursor: pointer;
    background-color: rgb(108, 212, 95);
}

.hidden {
    display: none;
}

